/* bad code ahead ... */

#wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@font-face {
    font-family: "JetBrains";
    src: url("JetBrainsMono-Thin.woff2") format("woff2");
}

body {
    margin: 8px 8px 0 8px;
    background-color: black;
}

#display {
    text-align-last: left;
    width: 10rem;
    font-size: 5rem;
    font-family: JetBrains;
    font-weight: bold;
    user-select: none;
    pointer-events: none;
    min-height: 160px;
    color: white;
    text-shadow: 5px 5px 4px black;
}

#games {
    display: flex;
    justify-content: space-between;
}

.preview_image {
    width: 100%;
    max-width: 15vw;
    height: auto;
    border: 5px outset #606080;
}

#outer {
    padding: 5px;
    background-color: #303040;
    border: 5px outset #606080;
    min-width: 80vw;
    max-width: 100vw;
    position: fixed;
    bottom: 5px;
    left: 5px;
    box-shadow: 0px 0px 5px black;
}

.nomarg {
    margin: 0 0 16px 0;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -123;
    user-select: none;
    pointer-events: none;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    image-rendering: crisp-edges;
    filter: blur(8px);
    /* border-image-repeat: repeat; */
}
