/** @format */

body {
    margin: 0;
    padding: 0;
}

canvas {
    position: fixed;
    background-color: rgb(25, 23, 36);
}

.info {
    position: fixed;
    top: 8px;
    left: 8px;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 10;
    user-select: none;
    pointer-events: none;
    color: white;
    font-family: "Fira Code", "Source Code Pro", "Roboto Mono", "Courier New", monospace;
    font-weight: bold;
    background: rgba(0, 0, 0, 0);
}
